@media only screen and (max-width: 500px){
    header {
        padding: 0;
        text-align: center;
        font-size: 70%;
        overflow: hidden;
    }
    nav {
        padding: 0;
        overflow: hidden;
        justify-content: center;
    }
    main {
        flex-direction: column;
    }
    main .main-left {
        width: 100%;
        max-height: 250px;
        overflow: hidden;
        padding: 0;
    }
    main .main-right {
        width: 100%;
        padding: 30px;
    }
}